# built files
dist
*.zip

# temp files
.DS_Store
*.orig
*.*~
*~

# downloaded files
node_modules

# user-specific files
package-lock.json

# secrets
.env

# Ignore the .terraform directory which stores provider plugins
.terraform/

# Ignore Terraform state files and backups
*.tfstate*
*.tfstate
*.tfstate.*
*override.tf
.terraform*

# Ignore the terraform plan output files
*.plan

# Ignore sensitive variables file
terraform.tfvars
secrets.auto.tfvars

# Ignore crash logs from Terraform
crash.log

# Ignore the .terraform.lock.hcl lock file (for local dev use)
.terraform.lock.hcl


